#contact {
	height: 100vh;
	background-color: $bg-secondary3;
	color: $text-light;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
}

.contact-outer {
	display: flex;
	padding: 0 10px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact-heading {
	padding-top: 100px;
	text-align: center;
	font-size: $text-very-large;
	font-family: IBM plex mono;
}

.contact-form {
	margin: 100px;
}
.hire-image {
	padding-top: 100px;
	width: 600px;
}

.contact-image-div > img {
	width: 50%;
	// height: 50%;
}
.contact-image-div > img {
	width: 70%;
	// height: 50%;
}

.contact-info {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-pitch {
	padding: 50px 0;
	text-align: center;
	font-size: $text-medium;
	font-family: B612;
	color: $bg-secondary;
}

.btn2 {
	border: 0;
	background: none;
	// display: block;
	margin: 30px 10px;
	text-align: center;
	border: none solid;
	padding: 15px 25px;
	width: 150px;
	outline: none;
	border-radius: 35px;
	transition: 0.25s;
	cursor: pointer;
	color: $text-light;
	font-size: 18px;
}

.btn2 a {
	color: $text-light;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.btn-email {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: B612;
	width: 260px;
	height: 45px;
	background-color: $bg-secondary;
}

.btn-email:hover {
	// transform: translateY(-10px);
	animation: popUp 0.7s 1;
	// transition: 0.5s;
}

.media-links {
	padding: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes popUp {
	50% {
		transform: translateY(-15px);
		// transform: translateY(1);
	}
}

// .feedback-input {
// 	color: white;
// 	font-family: Helvetica, Arial, sans-serif;
// 	font-weight: 500;
// 	font-size: 18px;
// 	border-radius: 5px;
// 	line-height: 22px;
// 	background-color: transparent;
// 	border: 2px solid $text-light;
// 	transition: all 0.3s;
// 	padding: 13px;
// 	margin-bottom: 15px;
// 	width: 100%;
// 	box-sizing: border-box;
// 	outline: 0;
// }

// .feedback-input:focus {
// 	border: 2px solid $bg-secondary;
// }

// textarea {
// 	height: 150px;
// 	line-height: 150%;
// 	resize: vertical;
// }

// [type="submit"] {
// 	font-family: "B612";
// 	width: 100%;
// 	background: $bg-secondary;
// 	border-radius: 5px;
// 	border: 0;
// 	cursor: pointer;
// 	color: white;
// 	font-size: 24px;
// 	padding-top: 10px;
// 	padding-bottom: 10px;
// 	transition: all 0.3s;
// 	margin-top: -4px;
// 	font-weight: 700;
// }
// [type="submit"]:hover {
// 	background: #335b74;
// }
